// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #019699;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-weather {

  img {
    width: 80%;
    max-width: 80%;
  }

  table {
    height: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    td {
      vertical-align: top;
      font-size: 18px;
      width: 13%;
      max-width: 13%;
    }
  }
  background-color: $background-color;

  .updated-row {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
