// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #49EB40;
$value-color:       rgba(0, 0, 0, 0.7);

$title-color:       rgba(0, 0, 0, 0.7);
$label-color:       rgba(0, 0, 0, 0.7);
$moreinfo-color:    rgba(0, 0, 0, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-sun {

  background-color: $background-color;
  vertical-align: top;
  color: $value-color;

  .texts {
    display: inline;
    white-space: nowrap;
    height: 48pt;
    font-weight: bold;
  }

  img {
    display: inline;
    height: 48pt;
  }

}
